@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  
  .wow {
    visibility: hidden;
  }
  
  .wow.animated {
    visibility: visible;
  }
  