#skills {
  padding-top: 150px;
  text-align: center;
}

.skills-page {
  width: 100%;
  min-height: 100vh;
}

.skills-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgba(160, 140, 252);
  font-size: 30px;
}

.skills-underline {
  margin-top: -40px !important;
  border-top: 4px solid;
  color: rgba(160, 140, 252);
  margin: 0 auto;
  width: 70px;
}

.skills h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: rgba(160, 140, 252) !important;
}

.certificates {
  width: 100%;
  text-align: center;
}

.web-development-skills {
  width: 100%;
  text-align: center;
}

.certificates img {
  max-width: 90%;
}

.carousel .control-dots li {
  background-color: rgba(160, 140, 252) !important;
}

.carousel-status {
  font-size: 19px !important;
  color: rgba(160, 140, 252) !important;
}

.skills-bar {
  width: 100%;
  margin-top: 20px;
}

.skillbar-percent {
  font-size: 12px !important;
  color: rgba(160, 140, 252) !important;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #skills {
    padding-top: 50px;
    text-align: center;
  }
  .skills-title {
    font-size: 24px;
  }

  .skills h2 {
    font-size: 22px;
  }
}
