#about {
  padding: 150px 0; /* adjust this value to increase or decrease the space at the top and bottom of the section */
  text-align: center;
}

.about-text {
  padding-right: 100px;
  color: rgba(160, 140, 252);
  font-size: 20px;
  flex: 1;
  margin-top: -100px;
}

.about-text h3 {
  margin-bottom: -15px;
}

.about-title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgba(160, 140, 252);
  font-size: 30px;
  margin: 0 0 5px;
}

.about-page-container {
  background: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.about-section-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center; 
}

.about-image-container {
  width: 50%;
  height: 100%;
  flex: 1;
}

.about-image {
  max-width: 70px;
  height: auto;
  margin: 50px;
}

.about-underline {
  margin-top: -45px !important;
  border-top: 4px solid;
  color: rgba(160, 140, 252);
  margin: 0 auto;
  width: 70px;
  animation: appear 5s;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
}


@media screen and (max-width: 768px) {
  #about {
    padding: 50px 0;
    text-align: center;
  }
  .about-title{
    font-size: 20px;
  }
  .about-text {
    padding-right: 0;
    margin-top: 0;
    font-size: 12px;
    line-height: 2em;
  }

  .about-section-container {
    flex-direction: column; 
  }

  .about-image-container {
    width: 100%;
  }

  .about-image {
    max-width: 40px;
    margin: 30px;
  }
  .about-underline {
    margin-top: -25px !important;
    border-top: 4px solid;
    color: rgba(160, 140, 252);
    margin: 0 auto;
    width: 70px;
    animation: appear 5s;
  }
  .about-text h3 {
    margin-bottom: -5px;
  }
  .about-image-container {
    width: 90%;
   
  }
}
