#contact {
  padding-top: 150px;
  padding-bottom: 200px;
}

.contact-page {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.contact-title {
  font-family: "Open Sans", sans-serif;
  color: rgba(160, 140, 252);
  font-size: 50px;
  margin: 0;
  margin-bottom: 5px;
  animation: comeLeft 1s forwards;
}

.underline {
  border-top: 4px solid;
  color: rgba(160, 140, 252);
  display: block;
  margin: 0 auto;
  width: 70px;
  margin-bottom: 75px;
  animation: appear 5s;
}

.content-container {
  margin-top: -70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 30px;
}

section {
  margin: 20px;
  max-width: calc(33% - 30px);
}

section h2 {
  font-family: "Manjari", sans-serif;
  margin: 20px 0px 10px 0px;
  font-size: 25px;
  color: rgba(160, 140, 252);
}

section p {
  margin: 0;
  font-size: 20px;
  color: white;
}

.contact-icons {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  margin: 0 auto;
  width: 62%;
}

.contact-icons a {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(113251deg);
}

.contact-icons a:hover {
  opacity: 0.4;
}

img.adapt,
img.code,
img.learn {
  filter: brightness(2) sepia(0) hue-rotate(11232deg);
}


@media screen and (max-width: 768px) {
  .contact-title {
    font-size: 35px;
  }

  .content-container {
    padding: 0;
  }

  section {
    max-width: 100%;
    text-align: center;
  }

  section h2 {
    font-size: 22px;
  }

  section p {
    font-size: 18px;
  }

  .contact-icons {
    width: 100%;
    flex-wrap: wrap;
  }

  .contact-icons a {
    margin: 10px 20px;
  }
  #contact {
    padding-top: 50px;
    text-align: center;
  }
}
