.contact {
    padding: 50px;
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    margin-bottom: 900px;
  }
  
  .contact-methods {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .contact-method {
    margin: 0 15px;
    text-align: center;
  }
  
  .contact-method img {
    width: 80px;
    height: auto;
  }
  
  .contact-method h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .reason {
    flex-basis: 30%;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  
  .reason h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  