.App {
  text-align: center;
  background: linear-gradient(to right, rgba(30, 11, 151, 0.9), #0c0e3b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}


html {
  scroll-behavior: smooth;
  
 
}

body {
  overflow-x: hidden;
 
}

